.App {
  text-align: center;
}

.calc-bg {
  width: 320px;
  height: 485px;
  background-color: #2b23cc;
  margin: 70px auto;
  border-radius: 4px 4px 22px 22px;
  padding-top: 25px;
}

.sp-section {
  height: 55px;
  border-bottom: 2px solid black;
  margin-bottom: 17px;
}

.sp-inner {
  color: black;
  margin: 30px 0 0 20px;
  width: 150px;
  height: 50px;
  background-color: black;
}

.outer-btn-cont {
  border: 2px solid black;
  width: 88%;
  margin: auto;
  padding: 2px;
  display: flex;
}

.btn-cont-1 {
  width: 69%;
}

.calc-btn-reg {
  width: 60px;
  height: 40px;
  border-radius: 4px;
  border: none;
  margin: 2px;
}

.calc-btn-lg {
  height: 84px;
}

.calc-red-btn {
  background-color: #b80404;
}

.calc-wht-btn {
  background-color: #fff;
}

.calc-inner-screen {
  height: 50px;
  margin: auto;
  border-radius: 2px;
  background-color: #ccc;
  font-size: 2rem;
}

.calc-inner-screen p {
  margin: 0;
}

.btn-cont-2 {
  width: 20%;
  margin-left: 22px;
}

.calc-outer-screen {
  background-color: black;
  padding: 6px;
  width: 75%;
  margin: auto;
}
