.App {
  text-align: center;
}

.calc-bg {
  width: 350px;
  height: 520px;
  background-color: blue;
  margin: 70px auto;
  border-radius: 22px;
  padding-top: 30px;
}

.calc-rnd-btn {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #b80404;
}

.calc-inner-screen {
  height: 50px;
  margin: auto;
  background-color: #ccc;
}

.calc-outer-screen {
  background-color: black;
  padding: 10px;
  width: 80%;
  margin: auto;
}
